body {
  margin: 0;
  padding: 0;
  background-color: #3b3b3b;
  box-shadow: 3px 4px 4px 0px #00000040;
  width: 98%;
  height: 98%;
  border-radius: 3px 0px 0px 0px;

  @media screen and (max-width: 768px) {
    height: auto;
    align-items: center;
  }
}

.Home {
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.HeadingContainer {
  width: 271px;
  height: 37px;
  margin-left: 32px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.Heading {
  width: 100%;
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
  color: #ffffff;

  @media screen and (max-width: 426px) {
    /* font-size: 14px; */
    font-weight: 300;
    line-height: 12px;
    width: 100%;
    text-align: center;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    text-align: center;
  }
}

.CardContainer {
  width: 760px;
  height: 181px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 426px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.Card {
  width: 355.41px;
  height: 181px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9b9b9b;

  @media screen and (max-width: 426px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
}

.CardText {
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 400;
  line-height: 34.47px;
  text-align: left;
  color: #ffffff;

  @media screen and (max-width: 426px) {
    font-size: 10px;
    font-weight: 200;
    line-height: 20px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
  }
}

.CardTextValue {
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 700;
  line-height: 34.47px;
  text-align: left;
  color: #9dff5b;

  @media screen and (max-width: 426px) {
    font-size: 10px;
    font-weight: 200;
    line-height: 20px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
  }
}

.CardButton {
  width: 167.65px;
  height: 38px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.38px;
  text-align: left;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  text-align: center;

  @media screen and (max-width: 426px) {
    font-size: 8px;
    font-weight: 300;
    line-height: 10px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}

.SectionTop {
  width: 1211px;
  height: 269px;
  border-radius: 10px;
  background-color: #626262;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px auto;

  @media screen and (max-width: 426px) {
    width: 96%;
    height: auto;
    flex-direction: column;
    max-width: 420px;
    align-items: center;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: 96%;
    height: auto;
    flex-direction: column;
    max-width: 755px;
    align-items: center;
    text-align: center;
  }
}

.PieContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    width: 96%;
  }

}

.BottomHeadingContainer {
  width: 100%;
  height: 32px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.BottomHeading {
  width: 261px;
  font-family: Ubuntu;
  font-size: 26px;
  font-weight: 700;
  line-height: 32.17px;
  text-align: left;
  color: #ffffff;
  font-style: italic;

  @media screen and (max-width: 426px) {
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
    width: 100%;
    text-align: center;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    text-align: center;
  }
}

.BottomSection {
  width: 1185px;
  height: 360.03px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 32px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
}

.BottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 738.33px;
  height: 100%;
  /* margin-left: 32px; */
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
  }
}

.TranscationCardContainer {
  width: 738.33px;
  height: 345.03px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-top: 30px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.TranscationCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 50px;
  margin-top: 10px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.CardLeft {
  display: flex;
  width: 190px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 46px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.IconBackGround {
  background: #d9d9d9;
  width: 38px;
  height: 38px;
  top: 478px;
  left: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ItemList {
  height: 38px;
  width: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.ItemList span {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #000000;
}

.CardRight {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.ListButtons {
  display: flex;
  width: 82px;
  justify-content: space-around;
  margin-right: 10px;

  @media screen and (max-width: 768px) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.ItemPrice {
  width: 40px;
  height: 22px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  color: #f4bb4a;
}

.HorizontalLine {
  width: 100%;
  max-width: 705px;
  height: 0px;
  border: 1px solid #9b9b9b;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.BottomRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 417px;
  height: 360.03px;

  /* margin-left: 32px; */
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

.BarChartContainer {
  width: 417px;
  height: 298.3px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  text-align: left;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 32px;
  }
}

.BarChartData {
  display: flex;
  margin-left: 15px;
  align-items: center;
  margin-right: 10px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.ChartHeading {
  width: 81px;
  height: 13.9px;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
  color: #000000;
  text-align: right;
  margin-right: 10px;
}

.Bar1 {
  width: 304px;
  height: 21.73px;
  border-radius: 0px 20px 20px 0px;
  background-color: #8784d2;

  @media screen and (max-width:768px) {
    width: 200px ;
  }
 
}

.Bar2 {
  width: 184px;
  height: 21.73px;
  border-radius: 0px 20px 20px 0px;
  background-color: #8784d2;

  @media screen and (max-width:768px) {
    width: 110px ;
  }
 
}

.Bar3 {
  width: 113px;
  height: 21.73px;
  border-radius: 0px 20px 20px 0px;
  background-color: #8784d2;

  @media screen and (max-width:768px) {
    width: 50px ;
  }

}
